/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u_w4BMUTPHjxsI9w2_FQft1dw.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u_w4BMUTPHjxsI5wq_FQft1dw.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v25/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* END FONT-FACES */

.font-lato {
    font-family: 'Lato';
    font-weight: 300;
}


/* OUTER CONTAINERS */

/* currently not needed
/* #ssa-popupmenu-wrapper {
/* }
*/

#ssa-popupmenu-outer-container-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    position: fixed;
    min-width: 360px;
    max-width: 700px;
    min-height: 300px;
    max-height: 560px;
    z-index: 500;

    background: #9D5A34;
    box-shadow: 0 0 18px 12px rgba(0, 0, 0, 0.7);
}

.ssa-popupmenu-overlay {
    position: fixed;
    width: 1px;
    height: 1px;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    background: rgba(0, 0, 0, 0.0);
    z-index: 499;
}

/* MAIN TEXT SEARCH FORM */
#ssa-popup-searchform-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 52px;
    min-height: 52px;
    width: 100%;
}

#ssa-popup-searchform {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;
    height: 100%;
    width: 100%;

}

#popup-searchbar-container {
    display: flex;
    flex: 1 0 8px;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: #2b253a;

}

/* RULES BUTTON SHOWING # ACTV RULES (IN SEARCHBAR) */
#searchbar-rules-link {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 4px;

    font: 18px "Lato";
    font-weight: 900;
    outline: 4px solid #f77c34;
    border-radius: 8px;
    background: rgba(91, 75, 125, .8);
    color: white;

}

#popup-searchbar-container>input {
    display: flex;
    flex: 1;
    padding-left: 8px;
    color: rgb(253, 253, 253);
    font: 16px "Lato";
    background-color: #2b253a;
    border: none;
    padding: none;
}


#popup-searchbar-container>input {
    outline: none;
    box-shadow: none;
}

/* TAB SELECTOR BUTTONS */
#popup-tab-selector-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 36px;
    min-height: 36px;
    background-color: #9D5A34;
}

.popup-tab-selector-btn {
    flex: 1;
    width: 100%;

    color: rgb(253, 253, 253);
    font: 16px "Lato";
    background-color: #9D5A34;
    border: none;
    box-sizing: border-box;

    cursor: pointer;
}

.popup-tab-selector-btn-active {
    background-color: #f77c34;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    background-clip: padding-box;
}



/* FILTER SEARCH FORM */
#ssa-popup-tab-searchform-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 30px;
    min-height: 30px;
    width: 100%;
}

#ssa-popup-tab-searchform {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;
    height: 100%;
    width: 100%;

}

#ssa-popup-tab-searchform>input {
    display: flex;
    flex: 1;
    padding-left: 12px;
    color: rgb(253, 253, 253);
    font: 14px "Lato";
    border: none;
    padding: none;
    background-color: #f77c34;
}

#ssa-popup-tab-searchform>input:focus {
    outline: 1px solid rgb(253, 253, 253);
    box-shadow: none;
    z-index: 520;
}

/* SUBTAB */
#ssa-popup-tabarea-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: stretch;

    min-height: 0;

    border-bottom: 2px solid #f77c34;
}

#popup-tabarea-grid-outer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: stretch;
    gap: 1px;
    width: 100%;
    min-height: 0;

    overflow-y: scroll;

    padding: 4px 0px 4px;
    background-color: #2b253a;
    box-sizing: border-box;
}


#popup-tabarea-grid-outer {
    scrollbar-width: thin;
    scrollbar-color: #f77c34 #2b253a;
}

#ssa-popup-tabarea-grid-outer::-webkit-scrollbar {
    width: 8px;
}

#ssa-popup-tabarea-grid-outer ::-webkit-scrollbar-track {
    background: #2b253a;
}

#ssa-popup-tabarea-grid-outer ::-webkit-scrollbar-thumb {
    background: #f77c34;
}

#ssa-popup-tabarea-grid-outer ::-webkit-scrollbar-thumb:hover {
    background: #ff8c4a;
}

.popup-tabarea-item {
    display: flex;
    flex: 1;
    min-height: 32px;
    max-height: 40px;

    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    background: #2b253a;
    padding: 2px 4px;
    box-sizing: border-box;

    border-bottom: 1px solid darkgray;
    z-index: 510;

    transition: all;
}

.popup-tabarea-item:hover {
    outline: 2px solid #f77c34;
    background: #433c55;
    z-index: 520;
    border-bottom: 1px solid transparent;

}

.popup-tabarea-create {
    display: flex;
    flex: 1 1 auto;
    min-height: 40px;
    max-height: 40px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid darkgray;
    background: #2b253a;
    padding: 2px 4px 6px;
    box-sizing: border-box;
    z-index: 510;
}

.popup-tabarea-create-inner {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;

    box-sizing: border-box;

    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.popup-tabarea-create-inner:hover {
    background: rgba(255, 255, 255, .3);
}

.popup-tabarea-create-text {
    color: white;
    font-weight: 900;
    font: 18px 'Lato';
}


.tabarea-item-edit-form {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    gap: 8px;
    min-width: 0;
    max-width: 100%;
}

.tabarea-item-edit-input-text {
    flex: 1 1 auto;
    border: 2px solid gray;
    background: #2b253a;
    color: white;
    font: 17px "Lato";
    box-sizing: border-box;

    min-width: 0;

}

.tabarea-item-edit-input-text:focus {
    border: 2px solid #f77c34;
    outline: none;
}

.tabarea-item-edit-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 24px;
    min-width: 24px;
    max-height: 24px;
    max-width: 24px;

    border: 2px solid rgba(255, 255, 255, .8);
    border-radius: 4px;
    font: 20px "Lato";
    font-weight: 900;
    cursor: pointer;

}

.tabarea-item-edit-input-submit {
    color: #38c66d;
    border: 2px solid #38c66d;
}

.tabarea-item-edit-input-exit {
    color: #e04747;
    border: 2px solid #e04747;
}

.tabarea-item-edit-options {
    color: white;
}

.tabarea-item-edit-contractbtn {
    color: white;
}

.tabarea-item-edit-delbtn {
    color: #e04747;
    border: 2px solid #e04747;
    margin-right: 4px;
}

.tabarea-item-edit-editbtn {
    color: #e8c63e;
    border: 2px solid #e8c63e;
    margin-right: 4px;
}

.tabarea-item-edit-fillbtn {
    color: #38c66d;
    border: 2px solid #38c66d;
    margin-right: 4px;
}

.tabarea-item-edit-input-submit:hover {
    color: black;
    background: rgba(93, 227, 139, .7);
}

.tabarea-item-edit-input-exit:hover {
    color: black;
    background: rgba(240, 106, 106, .7);
}

/* tab ITEM FIELDS */
.popup-tabarea-item>.popup-tabarea-item-title {
    display: flex;
    flex: 0 1 auto;

    color: rgb(253, 253, 253);
    white-space: nowrap;
    font: 20px "Lato";
    font-weight: 900;
    cursor: default;
}

.popup-tabarea-item.popup-item-active-rule>.popup-tabarea-item-title {
    color: #f28b4f;

}

.popup-tabarea-item>.popup-tabarea-item-query {
    display: flex;
    flex: 1 1 auto;
    padding-left: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font: 16px "Lato";
    font-style: italic;
    color: rgba(253, 253, 253, .8);
    cursor: default;
}

.popup-item-active-rule {
    border-left: 12px solid #f77c34;
}

.popup-tabarea-item>.popup-tabarea-item-tags {
    display: flex;
    flex: 3 0 auto;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font: 14px "Lato";
    font-weight: 900;
    color: #000000;

}

#tabarea-bottom-icon {
    display: flex;
    flex: 0 1 auto;
    fill: #f77c34;
    align-self: center;
    overflow: hidden;
    z-index: 505;

    justify-content: center;
    align-items: center;

}


/* POPUP FOOTER */
#ssa-popup-footer-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    min-height: 24px;
    max-height: 24px;
    width: 100%;

    background-color: #2b253a;
    color: rgb(253, 253, 253);
    font: 14px "Lato";
}

.footer-resize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    background-color: #433c55;

    min-width: 24px;

}

#footer-resize-left {
    cursor: nesw-resize;
}

#footer-resize-right {
    cursor: nwse-resize;
}

#footer-positioner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #2b253a;

    width: 100%;
    cursor: move;
}

#footer-positioner>span {
    display: flex;
    text-align: center;
    line-height: 1;
    user-select: none;
}
