<template id="ssa-injected-popupmenu-template">
    <div id="ssa-popupmenu-wrapper">
        <div id="ssa-popupmenu-outer-container-div">

            <!-- Search bar -->
            <div id="ssa-popup-searchform-container">
                <form id="ssa-popup-searchform" name="popup-searchform" method="get">
                    <input type="text" name="popup-search-main" value="" placeholder="Search Assist..."
                        autocomplete="off" autocapitalize="none" autocorrect="off" spellcheck="false" maxLength="2048">
                </form>
            </div>

            <!-- Rules, Pinned, Recents Selector -->
            <div id="popup-subtab-selector-container">
                <button className="popup-subtab-selector-btn" id="subtab-selector-rules-btn">
                    Rules
                </button>
                <button className="popup-subtab-selector-btn" id="subtab-selector-pinned-btn">
                    Pinned
                </button>
                <button className="popup-subtab-selector-btn" id="subtab-selector-recents-btn">
                    Recents
                </button>
            </div>




        </div>
    </div>
</template>
